/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

html, body
  background-color: $bgColor

.navbar
  background-color: $navbarColor
  .links
    background-color: $navbarColor!important

.search-box input
  color: $textColor2!important

.sidebar
  background-color: $bgColor

.home .hero img
  max-width: 300px!important

.custom-block.tip
  color: $tipColor!important

.custom-block.warning
  color: $warningColor!important
