/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$bgColor = #192229
$navbarColor = #212e36
$accentColor = #007bdf
$textColor = #b7c1c8
$textColor2 = #5f6d77
$borderColor = #273b49
$codeBgColor = #282c34
$themeColor = #007bdf
$tipColor = #485158
$warningColor = #e7c000
